/* CSS Datei */
h1{
    text-align: center;
    padding: 20px; margin: 0;
    font-family: sans-serif;
    font-size: 3em; color: #9b1717;
    border-style: groove; border-width: 6px; border-color: #9b1717;
}

.fivefinger img{
    width: 330px;
    float: right;
    margin-top: 100px;
}

.fragen{
    padding: 20px;
    margin-top: 10px;
    border-style: groove; border-width: 4px;
}

.button button{
    margin: 20px;
    font-size: 1.6em;
    font-family: fantasy;
}